.ToolsDiv .before {
    position: absolute;
    height: 50px;
    border-radius: 20px;
    background-color: #9b44be6e;
    top: 25px;
    /*平滑动画*/
    transition: all 0.2s;
}

.ToolsDiv .after{
    position: absolute;
    height: 50px;
    border-radius: 20px;
    background-color: rgba(236,0,58,0.38);
    transform: scale(1.65);
    top: 25px;
    /*平滑动画*/
    transition: all 0.2s ease ;
}

.ToolsDiv .before:hover {
    background-color: rgba(190, 45, 109, 0.21);
    transform: scale(1.4);
    /*放大1 .5 倍*/
    transition: all 0.2s ease;

}

#word{
    left: 50px;
}

#color {
    display: none;
}

#size {
    left: 150px;
}

#pencil {
    left: 250px
}

#line {
    left: 350px;
}

#circle {
    left: 450px;
}

#square {
    left: 550px;
}

#areaFilling {
    left: 650px;
}

#cancel {
    left: 850px;
}

#rubber {
    left: 750px;
}

#rubbish {
    left: 950px
}

#save {
    left: 1050px;
}
