body{
    background:url("../Resource/Image/bkg.png");
    
}
* {
    margin: 0;
    padding: 0;
}

*:focus{
    outline: none;
}
/*
    全局为一个指针
*/
body{
    cursor: url("../Resource/Image/cursor.gif") 1 1,crosshair;
}

.MainArtBoardDiv {
    position: absolute;
    left: 400px;
    top: 150px;
}

.ToolsDiv {
    backdrop-filter: blur(6px);
    position: absolute;
    background-color: rgba(53, 190, 130, 0.15);
    height: 100px;
    width: 1150px;
    top: -125px;
    left: -90px;
    border-radius: 50px;

}

.CanvasDiv {
    display: inline-block;
    position: relative;
    width: 960px;
    height: 580px;
    border-radius: 10px;
    background: url("../Resource/Image/background1.png");
    backdrop-filter: blur(6px);

}


#Canvas {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 960px;
    height: 580px;

    cursor: url("../Resource/Image/cursor.gif") 1 1, crosshair;
}

#RealCanvas{
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
}

#Canvas_chosen{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    cursor: none;
}

#eraser{
    display:none;
}

#eraser_chosen{
    position: fixed;
    height: 20px;
	left: 0;
	top: 0;
    z-index: 1;
    pointer-events: none;
}
#widthChange{
    visibility:hidden;
    background-color: rgb(255, 255, 255,0);
    transition: all 0.2s;
    border-radius: 50px;
    height: 100px;
    width: 200px;
    position:absolute;
    top:-120px;
    left:-15px;
}

#widthChange1{
    transition:all 0.2s ease ;
    
    border-radius: 50px;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.7);
    height: 100px;
    width: 200px;
    position:absolute;
    top:-25px;
    left:-15px;
}

/*#isFill{
    visibility:hidden;
    background-color: white;
    transition: all 0.2s;
    border-radius: 50px;
    height: 15px;
    width: 20px;
    position:absolute;
    top:-80px;
    left:575px;

}

#isFill1{
    transition: all 0.2s ease ;
    border-radius: 50px;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.514);
    height: 150px;
    width: 200px;
    position:absolute;
    top:-25px;
    left:490px;
    backdrop-filter: blur(6px);
}*/

#widthRange1{
    
    position:absolute;
    top:43px;
    left:30px;
}
#widthRange{
    
    visibility:hidden;
    height: auto;
}

#palette{
    position: absolute;
    left: 50px;
    top: 200px;
    height: 256px;
    width:256px;
}


#paletteBar{
    position: absolute;
    left: 330px;
    top:200px;
    height: 256px;
    width: 30px;
    
}

#selectedColorText{
    position: absolute;
    left: 75px;
    top: 520px;
}

#selectedColor{
    position: absolute;
    left: 150px;
    top: 485px;
    width: 100px;
    height: 100px;
}

#bkColor{
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    left:30px;
    top:185px;
    width: 350px;
    height: 425px;
    border-radius: 25px;
    backdrop-filter: blur(6px);
}